body {
	margin: 0;
	padding: 0;

	font-family: "Arial", sans-serif;
	color: #777777;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	margin: 0 auto;
}

header {
	background: url(../img/first-bg.jpg) no-repeat center top /cover;
	padding-bottom: 160px;
}

.logo {
	margin-top: 44px;
	float: left;
}

nav {
	float: right;
	margin-top: 50px;
}

.menu {
	margin: 0;
	padding: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;

	margin-right: 42px;
}

.menu li:last-child {
	margin-right: 0;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles {
	margin-top: 180px;
}

.titles__first {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
}

h1 {
	margin: 0;
	margin-top: 30px;

	color: #fff;
	text-transform: uppercase;
	font-size: 75px;
	text-align: center;
}

.button {
	display: block;
	width: 240px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 20px 0;
	background-color: #fed136;
	border-radius: 3px;

	color: #484543;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.title {
	padding-top: 105px;
}

.title h2 {
	margin: 0;

	color: #222222;
	font-size: 40px;
	font-weight: bold;
	line-height: 75px;
	text-transform: uppercase;
	text-align: center;
}

.title p {
	margin: 0;

	font-size: 16px;
	text-align: center;
}

.services {
	margin-top: 75px;
	padding-bottom: 115px;
}

.services__item {
	float: left;
	width: 270px;

	text-align: center;
}

.services__item h3 {
	margin-top: 20px;
	margin-bottom: 10px;

	font-size: 18px;
	font-weight: bold;
	color: #222222;
}

.services__item p {
	font-size: 14px;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}
/*
.services__item:first-child {
	float: left;
	margin-right: 65px;
} */

.services__item:nth-child(2) {
	margin-left: 65px;
}

#portfolio {
	background-color: #f7f7f7;
	padding-bottom: 134px;
}

.works {
	margin-top: 75px;
}

.works img {
	float: left;
}

.works img:nth-child(2) {
	margin-left: 33px;
}

.works img:last-child {
	float: right;
}